[Unit]
Description=OTP-CR-117/19
After=multi-user.target

[Service]
Type=simple
StateDirectory=genocide
LogsDirectory=genocide
CacheDirectory=genocide
ExecStart=/usr/local/bin/genocide -i
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
Restart=on-failure
CapabilityBoundingSet=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
